<link rel="stylesheet" href="/styles/user/footer.css">



<footer class="bg-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>WATCH <span style="color: #ffac33;">LY</span></h5>
                <p>Your destination for premium watches. Combining elegance and functionality in every piece.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <ul class="list-unstyled d-flex">
                    <li class="me-3"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="me-3"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="me-3"><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>