{{!-- login page  --}}

<link rel="stylesheet" href="/styles/admin/login.css">
<div class="container-fluid m-3">
    <h3 id="head" class="mx-auto">WATCH <span style="color: #ffac33;">LY</span></h3>
</div>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-4 mt-5">
            <div class="card" id="card">
                <div>
                    <h3 class="text-center mt-3">Login</h3>
                </div>
				<span id="msg" hidden>{{msg}}</span>
                <div class="card-body mt-5">
                    <form class="login" id="loginform" action="/admin/loginbtn" method="post">
                        <div class="mb-3">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                        </div>
                        <div class="d-grid gap-2 col-6 mx-auto"> 
                            <button type="submit" class="btn btn-dark text-white mt-3 mb-5">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javaScript/admin/login.js"></script>