<link rel="stylesheet" href="/404.css">

<div class="not-found"></div>
  <h1>404</h1>
  <p>Oops! The page you are looking for doesn't exist.</p>
  <a href="/user/home" class="home-btn">Back to Home</a>
</div>