<link rel="stylesheet" href="/styles/user/home.css">


{{!------------------- navbar -------------------------}}
<header>
<nav class="navbar navbar-expand-lg  shadow-navbar">
  <div class="container-fluid py-auto px-auto ">
    <h3 id="head" class="m-2">WATCH <span style="color: #ffac33;">LY</span></h3>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/user/home">Home</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/user/orders">Orders</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/user/ProductList">Products</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/user/contactus">Contact</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/user/Aboutus">About us</a></li>
      </ul>

      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#"><i class="fa-regular fa-heart"></i></a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/user/userProfile"><i class="fa-regular fa-user"></i></a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/user/logOut"><i class="fa-solid fa-cart-shopping"></i></a></li>
      </ul> 
    </div>
  </div>
</nav>
</header>

{{!----------------------- product showcase 1 ---------------------------}}
<span id="msg" hidden>{{msg}}</span>
<section class="hero-section bgcolor">
  <div class="container d-flex">  
    <div class="heading1">
      <h1 class="text-warning">LUXURY <br>AND ELEGANCE</h1>
      <a href="#" class="btn btn-warning">Shop now</a>
      <a href="#" class="btn btn-outline-warning">More</a>
    </div>
    <div>
      <img src="/image/user/HD_Black_Apple_Smart_Watch_Series_2_PNG-removebg-preview.png" alt="Watch" class="img-fluid">
    </div>
  </div>
</section>


{{!---------------- feature show case -----------------}}

<div class="container my-3 text-center ">
  <div class="row mx-auto ">
    <div class="col-md-4 align1">
      <i class="fa-solid fa-truck-fast"></i>
      <p>Quick Shipping</p>
    </div>
    <div class="col-md-4 align1">
      <i class="fa-regular fa-credit-card"></i>
      <p>Easy Payment</p>
    </div>
    <div class="col-md-4 align1">
      <i class="fa-solid fa-arrows-rotate"></i>
      <p>Reliable & Secure</p>
    </div>
  </div>
</div>

<!-- Offer Products Section -->
<div class="container d-flex justify-content-center ">
  <div class="col-md-6">
    <div class="card ">
      <img class=" Card-image " src="/image/user/Armani_exchange_30_1_1500x.webp">
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <img class="Card-image " src="/image/user/Armani_exchange_30_1_1500x.webp">
    </div>
  </div>
</div>



<!-- Feature Products Section -->
<section class="container my-5 mx-auto">
  <a href="">
    <h2 class="text-left">Feature Products</h2>
  </a>
  <div class="row feature-products">
    <div class="col-md-4">
      <div class="card product-card">
        <img src="/image/user/HD_Black_Apple_Smart_Watch_Series_2_PNG-removebg-preview.png" class="card-img-top productImg"
          alt="Watch 1">
        <div class="card-body text-center mt-1">
          <h6 class="card-title">Titan Quartz Analog</h6>
          <p class="product-price">$12,500.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card product-card">
        <img src="/image/user/HD_Black_Apple_Smart_Watch_Series_2_PNG-removebg-preview.png" class="card-img-top productImg"
          alt="Watch 2">
        <div class="card-body text-center mt-1">
          <h6 class="card-title">CURREN Stainless Steel</h6>
          <p class="product-price">$8,450.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card product-card">
        <img src="/image/user/HD_Black_Apple_Smart_Watch_Series_2_PNG-removebg-preview.png" class="card-img-top productImg"
          alt="Watch 3">
        <div class="card-body text-center mt-1">
          <h6 class="card-title">Rikon Johnson Quartz</h6>
          <p class="product-price">$10,000.00</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Summer Collection Section -->
<section class="container my-5 summer-collection">
  <div class="row">
    <div class="col-md-6 ">
      <img src="/image/user/Gucci-Mens-spring-summer-2016-collection-insect-watch-bomber-detail-min.png" class="size2" alt="Summer Collection Watch">
    </div>
    <div class="col-md-6 d-flex align-items-center bgStyle">
      <div>
        <h2>SUMMER COLLECTIONS</h2>
        <p>Explore our summer collection of stylish watches. From classic to contemporary, we've got it all.</p>
        <a href="#" class="btn btn-warning">Shop now</a>
      </div>
    </div>
  </div>
</section>

<!-- Product Categories Section -->

<div class="container my-5">
  <div class="row ">
    <div class="col-md-4">
      <h3 class="text-center">Best Sellers</h3>
      <div class="product-card pcard d-flex ">
        <img src="/image/user/wb-removebg-preview.png" class="  imgSt" alt="Best Seller 1">
        <div class="mt-5"><p>GUESS Men's Blue</p>
        <span class="price">₹15,495.00</span>
        </div>
        
      </div>
      <div class="product-card pcard d-flex">
        <img src="/image/user/wb-removebg-preview.png" class=" imgSt" alt="Best Seller 2">
        <div class="mt-5"><p>GUESS Men's Black</p>
        <span class="price">₹11,743.00</span>
        </div>
      </div>
      <div class="product-card pcard d-flex">
        <img src="/image/user/wb-removebg-preview.png" class=" imgSt" alt="Best Seller 3">
        <div class="mt-5"><p>G-SHOCK</p>
        <span class="price">₹15,495.00</span>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <h3 class="text-center">New Arrival</h3>
      <div class="product-card pcard d-flex">
        <img src="/image/user/wb-removebg-preview.png" class=" imgSt" alt="New Arrival 1">
        <div class="mt-5"><p>FASTRACK</p>
        <span class="price">₹15,495.00</span>
        </div>
      </div>
      <div class="product-card pcard d-flex">
        <img src="/image/user/wb-removebg-preview.png" class=" imgSt" alt="New Arrival 2">
        <div class="mt-5"><p>RADO</p>
        <span class="price">₹4,542.00</span>
        </div>
      </div>
      <div class="product-card pcard d-flex">
        <img src="/image/user/wb-removebg-preview.png" class=" imgSt" alt="New Arrival 3">
        <div class="mt-5"><p>TIMEX</p>
        <span class="price">₹7,295.00</span>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <h3 class="text-center">Best Rated</h3>
      <div class="product-card pcard d-flex">
        <img src="/image/user/wb-removebg-preview.png" class=" imgSt" alt="Best Rated 1">
        <div class="mt-5"><p>TITAN Octain</p>
        <span class="star">★★★★★</span>
        </div>
      </div>
      <div class="product-card pcard d-flex">
        <img src="/image/user/wb-removebg-preview.png" class=" imgSt" alt="Best Rated 2">
        <div class="mt-5"><p>boAt Ultima</p>
        <span class="star">★★★★★</span>
        </div>
      </div>
      <div class="product-card pcard d-flex">
        <img src="/image/user/wb-removebg-preview.png" class=" imgSt" alt="Best Rated 3">
        <div class="mt-5"><p>GUESS Men's Blue</p>
        <span class="star">★★★★★</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="container d-flex justify-content-center">
    <div class="row "> 
      <div class="col-md-3 ">
        <h6>Category</h6>
        <ul class="list-unstyled">
          <li><a href="#">Aqua watch</a></li>
          <li><a href="#">Digital watch</a></li>
          <li><a href="#">Men watch</a></li>
          <li><a href="#">Luxury watch</a></li>
        </ul>
      </div>
      <div class="col-md-3 footerCol">
        <h6>Collection</h6>
        <ul class="list-unstyled">
          <li><a href="#">vintage watch</a></li>
          <li><a href="#">Galxy watch</a></li>
          <li><a href="#">Advandure Sports</a></li>
          <li><a href="#">Luxury watch</a></li>
        </ul>
      </div>
      <div class="col-md-3 footerCol">
        <h6>Contact us</h6>
        <ul class="list-unstyled">
          <li><a href="#"> Bangolore karnadaka</a></li>
          <li><a href="#">India</a></li>
          <li><a href="#">+458567</a></li>
          <li><a href="#">contact@gmail.com</a></li>
        </ul>
      </div>
      <div class="col-md-3 footerCol">
        <h6>Get to know us</h6>
         <ul class="list-unstyled">
          <li><a href="#"> about us</a></li>
          <li><a href="#"></a></li>
          <li><a href="#">+458567</a></li>
          <li><a href="#">contact@gmail.com</a></li>
        </ul>
        
      </div>
    </div>
  </div>
</footer>
<script src="/javaScript/user/home.js"></script>

