
/* select card  */
.card {
    cursor: pointer;
    transition: transform 0.2s ease;
    min-width: 20rem;
    min-height: 17.5rem;
}

.card:hover {
    transform: scale(1.01);
}

.card.active {
    border: 2px solid #ffc249;
    background-color: #ffffff;
}
.error-message {
    font-size: 0.875em;
    display: block;
}