#head{
    text-decoration: none;
}
.shadow-navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
    position: relative;

}
.quantity {
    margin-top: 1rem;
    align-items: center;
  }
  
  .quantity-btn {
    border-radius: 3px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    cursor: pointer;
    font-size: 16px;
  }
  
  .quantity-btn:hover {
    background-color: #e2e6ea;
  }
  
  #product-quantity {
    width: 3rem;
    text-align: center;
    border: 1px solid #ddd;
    padding: 5px;
  }
  .scroll-container{
    max-height: 27rem;
     overflow-y: auto;
  }


  /*  pagination color */
.custom-pagination .page-link {
  background-color: #fff;
  color: #ff8c00;
}

.custom-pagination .page-link:hover {
  background-color: #FF7F00;
  color: #ffff;
}

.custom-pagination .active .page-link {
  background-color: #ff8c00;
  color: white;

  border: none;
}

.custom-pagination .active {
  background-color: #ff8c00;
}
.custom-pagination{
  padding-left: 46.3rem;
}