#head {
    text-decoration: none;
}

.shadow-navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: relative;

}

.mbtn {
    margin-top: .9rem;
}

.card {
    width: 100%;
    max-width: 25rem;
    height: 22rem;

}

.card-img-top {
    height: 10rem;
    object-fit: contain;

}

.card-body {

    display: flex;
    flex-direction: column;
    justify-content: space-between;


}