
.sidebar {
    background-color: #f8f9fa;
    padding: 1rem;
}
.sidebar a {
    background-color: #ffac33;
    text-align: left;
    margin-bottom: 1rem;
}
.sidebar a.active {
    background-color: #ffac33;
    color: #ffffff;
}
.sidebar a:hover {
    background-color: #ffac33;
    color: #fff;
}

.table-wrapper {
    overflow-x: auto;
}

.mbtn {
    margin-top: .9rem;
}
#imagePreviewContainer {
    display: flex;             
    flex-wrap: wrap;         
    justify-content: center;   
    align-items: center;       
    gap: 10px;                
}

#imagePreviewContainer img {
    margin: 0;               
    padding: 0;              
    max-width: 200px;        
    max-height: 200px;        
    border: none;             
    display: block;        
}

.modal-content {
    padding: 20px;            
    max-width: 100%;         
}

.modal-body {
    padding: 0;              
}
.product-images{
    display: flex;
    justify-content: space-around;
}
.image-wrapper{
    width: 15rem;
    height: 15rem;
    margin: 5px;
}
    
