
#imagePreviewContainer {
    display: flex;             
    flex-wrap: wrap;         
    justify-content: center;   
    align-items: center;       
    gap: 10px;                
}

#imagePreviewContainer img {
    margin: 0;               
    padding: 0;              
    max-width: 200px;        
    max-height: 200px;        
    border: none;             
    display: block;        
}

.modal-content {
    padding: 20px;            
    max-width: 100%;         
}

.modal-body {
    padding: 0;              
}
.product-images{
    display: flex;
    justify-content: space-around;
}
.image-wrapper{
    width: 15rem;
    height: 15rem;
    margin: 5px;
}

body {
    font-family: Arial, sans-serif;
}
.sidebar {
    background-color: #f8f9fa;
    padding: 1rem;
}
.sidebar a {
    background-color: #ffac33;
    text-align: left;
    margin-bottom: 1rem;
}
.sidebar a.active {
    background-color: #ffac33;
    color: #ffffff;
}
.sidebar a:hover {
    background-color: #ffac33;
    color: #fff;
}
.dashboard-header {
    margin-top: 1rem;
}
.card {
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.table-wrapper {
    overflow-x: auto;
}
#head{
    margin-left: 2.5rem;
}
.mbtn{
    margin-top: .9rem;
    
}
/*  pagination color */
.custom-pagination .page-link {
    background-color: #fff;
    color: #ff8c00;
  }
  
  .custom-pagination .page-link:hover {
    background-color: #FF7F00;
    color: #ffff;
  }
  
  .custom-pagination .active .page-link {
    background-color: #ff8c00;
    color: white;
  
    border: none;
  }
  
  .custom-pagination .active {
    background-color: #ff8c00;
  }
  
